Escenario_node-red/clipboard.txt
[{"id":"fce6acb5.cd0da","type":"mqtt in","z":"26d1f103.f2578e","name":"","topic":"luminosidad","qos":"2","broker":"b905ec8c.4ec0b","x":158.1000099182129,"y":199.80000591278076,"wires":[["d9c2b869.a686c8","2582085c.a37de8","37756a78.2d2f26","18663a8b.812c45"]]},{"id":"956924f.16557d8","type":"debug","z":"26d1f103.f2578e","name":"","active":true,"console":"false","complete":"payload","x":764.0000228881836,"y":324.0000114440918,"wires":[]},{"id":"d9c2b869.a686c8","type":"ui_gauge","z":"26d1f103.f2578e","name":"","group":"91f8079.d8d76f8","order":0,"width":0,"height":0,"gtype":"gage","title":"LuxLevel 1","label":"Lumen","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679.0000228881836,"y":146.00000476837158,"wires":[]},{"id":"2582085c.a37de8","type":"ui_gauge","z":"26d1f103.f2578e","name":"","group":"c874929f.9d85f","order":0,"width":0,"height":0,"gtype":"wave","title":"LuxLevel 2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":677.0000228881836,"y":193.0000057220459,"wires":[]},{"id":"37756a78.2d2f26","type":"ui_chart","z":"26d1f103.f2578e","name":"","group":"91f8079.d8d76f8","order":0,"width":"6","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1024","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":660.0000190734863,"y":238.00003242492676,"wires":[[],[]]},{"id":"3118db17.5c4574","type":"mqtt in","z":"26d1f103.f2578e","name":"","topic":"contador","qos":"2","broker":"b905ec8c.4ec0b","x":171.00000381469727,"y":514.0000133514404,"wires":[["a79268f4.08a4f8","50fe9d49.0f3ef4"]]},{"id":"a79268f4.08a4f8","type":"ui_gauge","z":"26d1f103.f2578e","name":"Contador","group":"c874929f.9d85f","order":0,"width":0,"height":0,"gtype":"wave","title":"Contador","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":583.0000152587891,"y":518.0000133514404,"wires":[]},{"id":"974ef48f.29ef88","type":"mqtt out","z":"26d1f103.f2578e","name":"Envio Intensidad","topic":"intensidadtarik","qos":"0","retain":"false","broker":"b905ec8c.4ec0b","x":536.1001129150391,"y":596.4000186920166,"wires":[]},{"id":"efdeb378.c436","type":"debug","z":"26d1f103.f2578e","name":"","active":true,"console":"false","complete":"payload","x":419.1000099182129,"y":922.6000537872314,"wires":[]},{"id":"fad5936e.6b9c4","type":"function","z":"26d1f103.f2578e","name":"funcion email","func":"\nif(msg.payload === \"0\"){\nvar newMsg = { payload: \"El maldito foco está roto\" };\nreturn newMsg;\n}\n","outputs":1,"noerr":0,"x":521.1001129150391,"y":325.6000089645386,"wires":[["956924f.16557d8","70a801b7.28729","b279bbe1.c15b08"]]},{"id":"70a801b7.28729","type":"e-mail","z":"26d1f103.f2578e","server":"smtp.gmail.com","port":"465","secure":true,"name":"timlahi@yahoo.es","dname":"email","x":729.5000648498535,"y":396.20001220703125,"wires":[]},{"id":"18663a8b.812c45","type":"switch","z":"26d1f103.f2578e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"1024","v2t":"num"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":273.1000061035156,"y":329.2000102996826,"wires":[["fad5936e.6b9c4"],[]]},{"id":"ebd71365.7430d","type":"mqtt in","z":"26d1f103.f2578e","name":"voltaje del sensor","topic":"voltagesensor","qos":"2","broker":"b905ec8c.4ec0b","x":189.00000381469727,"y":730.000020980835,"wires":[["43ae9ed5.d664c","160e88ab.d93077"]]},{"id":"43ae9ed5.d664c","type":"ui_gauge","z":"26d1f103.f2578e","name":"","group":"32fcc136.f438ae","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltaje del sensor","label":"x0.1V","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":730,"wires":[]},{"id":"8e69258.6698ed8","type":"mqtt in","z":"26d1f103.f2578e","name":"A ver lo que llega","topic":"intensidadtarik","qos":"2","broker":"b905ec8c.4ec0b","x":178.10000610351562,"y":992.5999755859375,"wires":[["efdeb378.c436"]]},{"id":"50fe9d49.0f3ef4","type":"debug","z":"26d1f103.f2578e","name":"","active":true,"console":"false","complete":"payload","x":388,"y":454,"wires":[]},{"id":"fe9a3bbb.d465b8","type":"ui_slider","z":"26d1f103.f2578e","name":"","label":"Intensidad","group":"68e87143.e6d8a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1023","step":"100","x":267.10001373291016,"y":597.4000186920166,"wires":[["974ef48f.29ef88"]]},{"id":"160e88ab.d93077","type":"function","z":"26d1f103.f2578e","name":"funcion email","func":"\nif(msg.payload <= \"1\"){\nvar newMsg = { payload: \"El Sensor de Luminosidad está roto, averiado o robado\" };\nreturn newMsg;\n}\n","outputs":1,"noerr":0,"x":451.00011444091797,"y":810.0000238418579,"wires":[["a6468137.1f8a2","9d75af34.d7282","b279bbe1.c15b08"]]},{"id":"a6468137.1f8a2","type":"debug","z":"26d1f103.f2578e","name":"","active":true,"console":"false","complete":"payload","x":691.9000244140625,"y":809.4000234603882,"wires":[]},{"id":"9d75af34.d7282","type":"e-mail","z":"26d1f103.f2578e","server":"smtp.gmail.com","port":"465","secure":true,"name":"timlahi@yahoo.es","dname":"email","x":670.400016784668,"y":872.6000261306763,"wires":[]},{"id":"b279bbe1.c15b08","type":"ui_audio","z":"26d1f103.f2578e","name":"","group":"c876b4a7.f3cd58","voice":"7","always":"","x":873.1000671386719,"y":699.6000270843506,"wires":[]},{"id":"e867a8d.7b94e58","type":"ui_button","z":"26d1f103.f2578e","name":"About Us","group":"f2abb2a.877405","order":0,"width":0,"height":0,"passthru":false,"label":"About Us","color":"","bgcolor":"","icon":"","payload":"Hola, este proyecto pertenece a Evelin Flores, Tarik Imlahi Rivas y Mohammed el Boutahiri. ","payloadType":"str","topic":"","x":243.1000213623047,"y":78.60000801086426,"wires":[["c58f6b63.f66018"]]},{"id":"c58f6b63.f66018","type":"ui_audio","z":"26d1f103.f2578e","name":"","group":"c876b4a7.f3cd58","voice":"0","always":"","x":585.1001129150391,"y":80.60000896453857,"wires":[]},{"id":"b905ec8c.4ec0b","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"91f8079.d8d76f8","type":"ui_group","z":"","name":"Graficas de Luminosidad","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"c874929f.9d85f","type":"ui_group","z":"","name":"Niveles de Luminosidad/Contador","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"32fcc136.f438ae","type":"ui_group","z":"","name":"Voltajes","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"68e87143.e6d8a","type":"ui_group","z":"","name":"Regular Manualmente Lampara 2","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"c876b4a7.f3cd58","type":"ui_group","z":"","name":"Lampara 2","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"f2abb2a.877405","type":"ui_group","z":"","name":"Información del Proyecto","tab":"7f12c570.11686c","disp":true,"width":"6"},{"id":"7f12c570.11686c","type":"ui_tab","z":"","name":"Luminosidad","icon":"dashboard"}]